{%extends 'base.html' %} {% load static %} {% load crispy_forms_filters %}
<!-- title -->
{% block title %} Add Product {% endblock %}
<!-- title ends -->

<!--=============================-->
{% block fileSpecificCss %}
<!--=============================-->
<link rel="stylesheet" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" />
<!--============================-->
<link rel="stylesheet" href="{% static 'vendor/select2/select2.min.css' %}" />

<!--============================-->
<link rel="stylesheet" href="{% static 'css/accounts/main.css' %}" />
<!--============================-->
<link rel="stylesheet" href="{% static 'css/accounts/util.css' %}" />

<!--============================-->
{% endblock %}
<!--============================-->

<!-- MainBody -->
{% block content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="heading">
                <a href="{% url 'accounts:home' %}" rel="noopener noreferrer">
                    <h3>Market Monitoring System</h3>
                </a>
            </div>

            <!-- FOR ERRORS -->
            {% if form.errors %} {% for field in form %}
            <!--  -->
            {% for error in field.errors %}
            <div class="wrap-input100 alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a
        >
        <strong>{{ error|escape }}</strong>
      </div>
      {% endfor %} {% endfor %}
      <!--  -->
      {% for error in form.non_field_errors %}
      <div class="wrap-input100 alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"
          >&times;</a
        >
        <strong>{{ error|escape }}</strong>
      </div>
      {% endfor %} {% endif %}

      <div style="justify-content: space-around" class="form-container100">
        <form class="login100-form validate-form" action="" method="POST">
          {% csrf_token %}
          <span class="login100-form-title"> Add Product </span>
          {{ form }}
          <button
            style="margin-top: 2rem"
            type="submit"
            class="login100-form-btn"
          >
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!--============================-->
{% block javascripts %}
<!--====================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--====================================-->
<script src="{% static 'vendor/tilt/tilt.jquery.min.js' %}"></script>
<script>
  $(".alert-danger")
    .fadeTo(4000, 500)
    .slideUp(1000, function () {
      $(".alert-danger").slideUp(500);
    });
</script>

{% endblock %}