{% extends "layouts/base.html" %} {% load static %} {% load humanize %}
<!--  -->
{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .differece-list {
    width: 100vw;
  }

  .differece-list ul {
    list-style: none;
  }

  .background {
    padding: 0 25px 25px;
    position: relative;
    width: 100%;
  }

  .background::after {
    content: "";
    background: #6015d8;
    background: linear-gradient(to bottom, #7432dd 0%, #6015d8 100%);
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  @media (min-width: 900px) {
    .background {
      padding: 0 0 25px;
    }
  }

  .container {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 1100px;
    width: 100%;
  }

  .pricing-features-item span {
    font-size: 1.3rem;
    color: teal;
    font-weight: bold;
  }

  .panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
  }

  .pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08),
      0px 20px 31px 3px rgba(0, 0, 0, 0.09),
      0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 900px) {
    .pricing-table {
      flex-direction: row;
    }
  }

  .pricing-table * {
    text-align: center;
    text-transform: uppercase;
  }

  .pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
  }

  .pricing-plan:last-child {
    border-bottom: none;
  }

  @media (min-width: 900px) {
    .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #e1f1ff;
      flex-basis: 100%;
      padding: 25px 50px;
    }

    .pricing-plan:last-child {
      border-right: none;
    }
  }

  .pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
    object-fit: cover;
    width: 100px;
  }

  .pricing-header {
    color: rgb(16, 16, 17);
    font-weight: 600;
    font-size: 1.2rem;
  }

  .pricing-features {
    color: #0f151d;
    font-weight: 600;
    font-size: 0.96rem;
    margin: 50px 0 25px;
  }

  .pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 15px 0;
    text-transform: capitalize;
  }

  .pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
  }

  .pricing-price {
    color: #1a1522;
    display: block;
    font-size: 32px;
    font-weight: 700;
  }

  .pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }

  .pricing-button:hover,
  .pricing-button:focus {
    background-color: #e1f1ff;
  }

  .pricing-button.is-featured {
    background-color: #1e5319;
    color: #fff;
  }

  .pricing-button.is-featured:hover,
  .pricing-button.is-featured:active {
    background-color: #1e5319;
  }

  .buttons {
    display: flex;
    gap: 10px;
  }
</style>
{% endblock stylesheets %}
<!--  -->
{% block content %}
<!-- Breadcrumb STARTS -->
{% include 'includes/product/breadcrumb.html' %}
<!-- Breadcrumb ENDS -->

<!-- Main Cards STARTS -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 style="text-transform: uppercase">Price Difference</h3>
        <span class="d-block m-t-5"></span>
        <div class="card-header-right">
          <div class="btn-group card-option">
            <button
              type="button"
              class="btn dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="feather icon-more-horizontal"></i>
            </button>
            <ul
              class="list-unstyled card-option dropdown-menu dropdown-menu-right"
            >
              <li class="dropdown-item full-card">
                <a href="#!"
                  ><span><i class="feather icon-maximize"></i> maximize</span
                  ><span style="display: none"
                    ><i class="feather icon-minimize"></i> Restore</span
                  ></a
                >
              </li>
              <li class="dropdown-item minimize-card">
                <a href="#!"
                  ><span><i class="feather icon-minus"></i> collapse</span
                  ><span style="display: none"
                    ><i class="feather icon-plus"></i> expand</span
                  ></a
                >
              </li>
              <li class="dropdown-item reload-card">
                <a href="#!"><i class="feather icon-refresh-cw"></i> reload</a>
              </li>
              <li class="dropdown-item close-card">
                <a href="#!"><i class="feather icon-trash"></i> remove</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body row">
        <!--  -->
        <section class="differece-list">
          <div class="background">
            <div class="container">
              <div class="panel pricing-table">
                <div class="pricing-plan">
                  <img
                    src="https://www.svgrepo.com/show/187939/price-tag-price.svg"
                    alt=""
                    class="pricing-img"
                  />
                  <h3 class="pricing-header">Importer To Wholesalers</h3>
                  <ul class="pricing-features">
                    <li class="pricing-features-item">
                      Average Selling Price of Importer:
                      <span>৳</span
                      ><span id="avgImToWh">{{avg_in_imp_to_whlSale}}</span>
                    </li>
                    <li class="pricing-features-item">
                      Total Products:
                      <span id="tProImp">{{total_product_to_importers}}</span>
                      kg
                    </li>
                    <li class="pricing-features-item">
                      Sold:
                      <span id="soldToWh">{{sold_to_wholesellers}}</span> kg
                    </li>

                    <li class="pricing-features-item">
                      Available:
                      <span id="availImToWh"
                        >{{available_in_importer_to_wholeseller_marktet}}</span
                      >
                      kg
                    </li>
                  </ul>
                  <span class="pricing-price"></span>

                  <div class="buttons">
                    <a
                      href="/sales-record/{{product.id}}/{{ 'today' }}"
                      class="btn btn-primary"
                    >
                      Buying History</a
                    >
                    <a
                      href="/sales-record/{{product.id}}/{{ 'today' }}"
                      class="btn btn-primary"
                    >
                      Selling History</a
                    >
                  </div>
                </div>

                <div class="pricing-plan">
                  <img
                    src="https://icon-library.net/images/price-comparison-icon/price-comparison-icon-22.jpg"
                    alt=""
                    class="pricing-img"
                  />
                  <h2 class="pricing-header" style="color: #1a043f">
                    Difference
                  </h2>
                  <ul class="pricing-features">
                    <li class="pricing-features-item">
                      Difference between two Market:
                      <span
                        style="
                          font-size: 2.5rem;
                          color: #312175;
                          font-weight: bold;
                        "
                        >৳</span
                      >
                      <span
                        style="
                          font-size: 2.5rem;
                          color: #312175;
                          font-weight: bold;
                        "
                        id="diff"
                        >{{difference}}</span
                      >
                    </li>
                  </ul>
                  <span
                    style="font-size: 1rem"
                    class="badge badge-pill badge-success"
                    >Normal</span
                  >
                </div>

                <div class="pricing-plan">
                  <img
                    src="https://www.svgrepo.com/show/227502/price-tag-price.svg"
                    alt=""
                    class="pricing-img"
                  />
                  <h2 class="pricing-header">Wholesalers to retailers</h2>
                  <ul class="pricing-features">
                    <li class="pricing-features-item">
                      Average Selling Price of Wholeseller: <span>৳ </span>
                      <span id="avgPriceWhl">{{avg_in_whlSale_to_rtlr}}</span>
                    </li>
                    <li class="pricing-features-item">
                      Total Products:
                      <span id="totalWh"
                        >{{total_product_to_wholesellers}}</span
                      >
                      kg
                    </li>
                    <li class="pricing-features-item">
                      Sold:
                      <span id="soldReta">{{sold_to_retailers}}</span> kg
                    </li>

                    <li class="pricing-features-item">
                      Available:
                      <span id="availWhole">
                        {{available_in_wholeseller_to_importer_marktet}}
                      </span>
                      kg
                    </li>
                  </ul>
                  <span class="pricing-price"></span>
                  <div class="buttons">
                    <a
                      href="/sales-record/{{product.id}}/{{ 'today' }}"
                      class="btn btn-primary"
                    >
                      Buying History</a
                    >
                    <a
                      href="/sales-record/{{product.id}}/{{ 'today' }}"
                      class="btn btn-primary"
                    >
                      Selling History</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--  -->
      </div>
    </div>
  </div>
</div>
<!-- Main Cards ENDS -->
<!-- Product Chart -->
<div id="product_chart" class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 style="text-transform: uppercase">
          Bar Chart of <span id="product_name">{{ product.name}}</span>
        </h3>
      </div>
      <div class="card-body" style="position: relative">
        <div id="#line-chart-2" style="min-height: 315px"></div>
      </div>
    </div>
  </div>
</div>
<!-- Product Chart -->

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  function animateValue(obj, start, end, duration) {
    let startTimestamp = null;
    const step = (timestamp) => {
      if (!startTimestamp) startTimestamp = timestamp;
      const progress = Math.min((timestamp - startTimestamp) / duration, 1);
      obj.innerHTML = Math.floor(progress * (end - start) + start);
      if (progress < 1) {
        window.requestAnimationFrame(step);
      }
    };
    window.requestAnimationFrame(step);
  }

  document.addEventListener("DOMContentLoaded", () => {
    const avgImToWh = document.getElementById("avgImToWh");
    const avgImToWhNum = Number(avgImToWh.innerText);
    animateValue(avgImToWh, 0, avgImToWhNum, 1000);

    const tProImp = document.getElementById("tProImp");
    const tProImpNum = Number(tProImp.innerText);
    animateValue(tProImp, 0, tProImpNum, 1000);

    const soldToWh = document.getElementById("soldToWh");
    const soldToWhNum = Number(soldToWh.innerText);
    animateValue(soldToWh, 0, soldToWhNum, 1000);

    const availImToWh = document.getElementById("availImToWh");
    const availImToWhNum = Number(availImToWh.innerText);
    animateValue(availImToWh, 0, availImToWhNum, 1000);

    const diff = document.getElementById("diff");
    const diffNum = Number(diff.innerText);
    animateValue(diff, 0, diffNum, 1000);

    const avgPriceWhl = document.getElementById("avgPriceWhl");
    const avgPriceWhlNum = Number(avgPriceWhl.innerText);
    animateValue(avgPriceWhl, 0, avgPriceWhlNum, 1000);

    const totalWh = document.getElementById("totalWh");
    const totalWhNum = Number(totalWh.innerText);
    animateValue(totalWh, 0, totalWhNum, 1000);

    const soldReta = document.getElementById("soldReta");
    const soldRetaNum = Number(soldReta.innerText);
    animateValue(soldReta, 0, soldRetaNum, 1000);

    const availWhole = document.getElementById("availWhole");
    const availWholeNum = Number(availWhole.innerText);
    animateValue(availWhole, 0, availWholeNum, 1000);
  });
</script>

<script src="{% static 'vendor/js/apexcharts/apexcharts.min.js' %}"></script>

<script>
  "use strict";
  $(document).ready(function () {
    const swapValue = (obj) => {
      Object.keys(obj).forEach((k) => {
        if (obj[k] === null) {
          obj[k] = 0;
        }
        obj[k] = obj[k].toFixed(2);
      });
      return obj;
    };

    let cData;
    let url = `http://${window.location.hostname}:${
      window.location.port
    }/api/chalan-chart/${window.location.pathname.split("/")[2]}`;

    fetch(url)
      .then((res) => res.json())
      .then((data) => {
        cData = swapValue(data);
        console.log(cData);
      });

    setTimeout(function () {
      $(function () {
        var options = {
          chart: {
            height: 300,
            type: "bar",
            plotOptions: {
              bar: {
                horizontal: false,
                columnWidth: "55%",
                endingShape: "rounded",
              },
            },
            zoom: {
              enabled: false,
            },
          },
          dataLabels: {
            enabled: false,
            width: 2,
          },
          stroke: {
            show: true,
            width: 2,
            colors: ["transparent"],
          },
          fill: {
            type: "gradient",
            gradient: {
              shade: "light",
              type: "vertical",
              shadeIntensity: 0.25,
              inverseColors: true,
              opacityFrom: 1,
              opacityTo: 0.7,
              stops: [50, 100],
            },
          },
          colors: ["#4099ff"],
          fill: {
            type: "t",
            gradient: {
              shade: "light",
            },
          },
          series: [
            {
              name: `${
                document.getElementById("product_name").textContent
              } Price`,
              data: Object.values(cData),
            },
          ],
          title: {
            text: "Product Price by Month",
            align: "left",
            style: {
              fontSize: "14px",
              fontWeight: "bold",
              fontFamily: undefined,
              color: "#263238",
            },
          },
          grid: {
            row: {
              colors: ["#f3f6ff", "transparent"], // takes an array which will be repeated on columns
              opacity: 0.5,
            },
          },
          xaxis: {
            categories: Object.keys(cData),
          },
        };
        var chart = new ApexCharts(
          document.getElementById("#line-chart-2"),
          options
        );
        chart.render();
      });
    }, 700);
  });
</script>

{% endblock javascripts %}
