{% extends "layouts/base.html" %} {% load static %} {% block title %} Sell
Record of Wholesalers({{product.name}}) {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} {% endblock stylesheets %}
<!--  -->
{% block content %}
<!-- Breadcrumb STARTS -->
<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title">
          <h5 class="m-b-10">Sell Record of Wholesalers({{product.name}})</h5>
        </div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'accounts:home' %}"
              ><i class="feather icon-home"></i
            ></a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Sell Record of Wholesalers({{product.name}})</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb ENDS -->
<!-- Main Cards STARTS -->
<div class="row">{% include 'includes/product/card.html' %}</div>
<!-- Main Cards ENDS -->
<!-- Products Table -->

<div id="product_table" class="row">
  {% include 'includes/product/wholeseller_sale_product_table.html' %}
</div>

<!-- Products Table -->

<!-- Product Chart -->
<div id="product_chart" class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4>Selling Price Chart</h4>
      </div>
      <div class="card-body" style="position: relative">
        <div id="sale-chart-2" style="min-height: 315px"></div>
      </div>
    </div>
  </div>
</div>
<!-- Product Chart -->

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'vendor/js/apexcharts/apexcharts.min.js' %}"></script>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const urlArr = window.location.pathname.split("/");
    const todayEl = document.getElementById("pills-today-tab");
    const todayTableEl = document.getElementById("pills-today");
    const monthEl = document.getElementById("pills-this-month-tab");
    const monthTableEl = document.getElementById("pills-this-month");
    const yearEl = document.getElementById("pills-this-year-tab");
    const yearTableEl = document.getElementById("pills-this-year");
    if (urlArr.includes("year")) {
      todayEl.classList.remove("active");
      monthEl.classList.remove("active");
      yearEl.classList.add("active");
      todayTableEl.classList.add("active", "show");
      monthTableEl.classList.remove("active", "show");
      yearTableEl.classList.remove("active", "show");
    } else if (urlArr.includes("month")) {
      todayEl.classList.remove("active");
      monthEl.classList.add("active");
      yearEl.classList.remove("active");
      todayTableEl.classList.remove("active", "show");
      monthTableEl.classList.add("active", "show");
      yearTableEl.classList.remove("active", "show");
    } else {
      todayEl.classList.add("active");
      monthEl.classList.remove("active");
      yearEl.classList.remove("active");
      todayTableEl.classList.remove("active", "show");
      monthTableEl.classList.remove("active", "show");
      yearTableEl.classList.add("active", "show");
    }
  });
</script>

<script>
  "use strict";
  $(document).ready(function () {
    const swapValue = (obj) => {
      Object.keys(obj).forEach((k) => {
        if (obj[k] === null) {
          obj[k] = 0;
        }
        obj[k] = obj[k].toFixed(2);
      });
      return obj;
    };

    let cData;
    let url = `http://${window.location.hostname}:${
      window.location.port
    }/api/wholesellers-selling-chart/${window.location.pathname.split("/")[2]}`;

    fetch(url)
      .then((res) => res.json())
      .then((data) => {
        cData = swapValue(data);
        console.log(cData);
      });

    setTimeout(function () {
      $(function () {
        var options = {
          chart: {
            height: 300,
            type: "bar",
            plotOptions: {
              bar: {
                horizontal: false,
                columnWidth: "55%",
                endingShape: "rounded",
              },
            },
            zoom: {
              enabled: false,
            },
          },
          dataLabels: {
            enabled: false,
            width: 2,
          },
          stroke: {
            show: true,
            width: 2,
            colors: ["transparent"],
          },
          fill: {
            type: "gradient",
            gradient: {
              shade: "light",
              type: "vertical",
              shadeIntensity: 0.25,
              inverseColors: true,
              opacityFrom: 1,
              opacityTo: 0.7,
              stops: [50, 100],
            },
          },
          colors: ["#4099ff"],
          fill: {
            type: "t",
            gradient: {
              shade: "light",
            },
          },
          series: [
            {
              name: `${
                document.getElementById("product_name").textContent
              } Price`,
              data: Object.values(cData),
            },
          ],
          title: {
            text: "Product Price by Month",
            align: "left",
            style: {
              fontSize: "14px",
              fontWeight: "bold",
              fontFamily: undefined,
              color: "#263238",
            },
          },
          grid: {
            row: {
              colors: ["#f3f6ff", "transparent"], // takes an array which will be repeated on columns
              opacity: 0.5,
            },
          },
          xaxis: {
            categories: Object.keys(cData),
          },
        };
        var chart = new ApexCharts(
          document.getElementById("sale-chart-2"),
          options
        );
        chart.render();
      });
    }, 700);
  });
</script>
{% endblock javascripts %}
