{% extends "layouts/base.html" %} {% load static %} {% block title %} Dashboard
{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} {% endblock stylesheets %}
<!--  -->
{% block content %}
<!-- Breadcrumb STARTS -->
{% include 'includes/product/breadcrumb.html' %}
<!-- Breadcrumb ENDS -->
<!-- Main Cards STARTS -->
<div class="row">{% include 'includes/product/card.html' %}</div>
<!-- Main Cards ENDS -->
<!-- Products Table -->

<div id="product_table" class="row">
  {% include 'includes/product/sale_product_table.html' %}
</div>

<!-- Products Table -->

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const urlArr = window.location.pathname.split("/");
    const monthEl = document.getElementById("pills-this-month-tab");
    const yearEl = document.getElementById("pills-this-year-tab");
    if (urlArr.includes("year")) {
      yearEl.classList.add("active");
      monthEl.classList.remove("active");
    }
  });
</script>

{% endblock javascripts %}
