{% extends 'layouts/base.html' %} {% load static %}{% load crispy_forms_filters %} {% block styles %}
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
<style>
    /* for modal form */
    
    ul {
        margin-left: -20px !important;
    }
    
    .login-title {
        text-align: center;
    }
    
    .form-group {
        margin-bottom: 1rem;
        margin-left: 1.5rem;
    }
    
    input[type="file"] {
        font-size: 0.8rem;
        padding: 0.5em;
        background-color: rgb(238, 238, 238);
        border: 2px solid #ffc06f;
        border-radius: 5px;
    }
    /* card css */
    
    a {
        color: #007bff;
    }
    
    @mixin vertical-align($position: fixed) {
        position: $position;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        /* end */
        body {
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }
        h3 {
            position: relative;
            left: 45%;
        }
        /* THE FRONT */
        .front {
            background-size: cover;
        }
        .back {
            background-size: cover;
        }
        h1,
        p,
        .font-a-icons {
            color: rgb(106, 106, 106);
            font-family: lato;
            margin-left: 2%;
            line-height: 90%;
        }
        h1 {
            margin-top: 5%;
        }
        p {
            font-size: 16px;
            padding-bottom: 15px;
            width: 35%;
            border-bottom: 2px solid black;
        }
        .bold {
            font-weight: bold;
        }
        .font-a-icons {
            margin-top: 25px;
        }
        .icon-group {
            margin-top: 8px;
        }
        span,
        .link,
        .fa,
        a {
            color: $black;
        }
        .fa {
            font-size: 18px;
        }
        span,
        a {
            font-size: 16px;
        }
        a,
        .website {
            text-decoration: none;
        }
        a:hover,
        .website:hover {
            color: #3f3f3f;
        }
        .icon-box {
            position: relative;
            color: black;
            font-size: 24px;
            height: 45px;
            width: 45px;
            padding: 5px;
            top: 75px;
            left: 30%;
            display: inline-block;
            border: 2px solid black;
            margin: 5px;
            text-align: center;
            cursor: pointer;
            -webkit-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            transition: all ease 0.5s;
        }
        .icon-box:hover {
            box-shadow: inset 0 50px 0 0 black;
            color: white;
        }
    }
    
    .flip-container {
        perspective: 1000px;
    }
    
    .front {
        z-index: 2;
        background-color: rgb(216, 216, 216);
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    
    .back {
        background-color: rgb(255, 255, 255);
    }
    
    .back {
        transform: rotateY(180deg);
    }
    
    .front h5 {
        text-transform: none;
        font-weight: 600;
    }
    
    .icon-group h5 {
        text-transform: none;
        font-weight: 500;
    }
    
    .vertical.flip-container {
        position: relative;
    }
    
    .vertical .back {
        transform: rotateX(180deg);
    }
    
    .vertical.flip-container .flipper {
        transform-origin: 100% 400x;
    }
    
    .vertical.flip-container:hover .flipper {
        transform: rotateX(-180deg);
    }
    /* card css ends */
    
    .fb-profile img.fb-image-lg {
        z-index: 0;
        width: 1170px;
        margin-bottom: 10px;
        height: 35em;
    }
    
    .fb-image-profile {
        margin: -90px 10px 0px 50px;
        z-index: 9;
        width: 20%;
        padding: 5px;
        background-color: aliceblue;
        border: 1px solid white;
        border-radius: 4px;
    }
    
    .profile-content {
        text-align: left;
        border: none !important;
    }
    
    .profile-content h5 {
        color: #525252;
    }
    
    .profile-content h4 {
        color: #004d88;
    }
    
    .btn-primary {
        background-color: #004d88;
        border-radius: 10px;
        border-color: #004d88;
    }
    
    .btn-add {
        float: right;
        margin-right: 0;
    }
    
    @media (max-width: 768px) {
        .fb-profile-text>h1 {
            font-weight: 700;
            font-size: 16px;
        }
        .fb-profile img.fb-image-lg {
            z-index: 0;
            width: 100%;
            height: 15rem;
        }
        .fb-image-profile {
            margin: -45px 10px 0px 25px;
            z-index: 9;
            width: 20%;
        }
    }
</style>
{% endblock %} {% block title %} Profile {% endblock %} {% block content %}

<div class="container">
    <div class="row align-items-stretch">
        <div class="fb-profile">
            <img align="left" class="fb-image-lg" src="{{ profile.user.userprofile.cover_img.url }}" alt="Cover Image" />
            <img align="left" class="fb-image-profile thumbnail" src="{{ profile.user.userprofile.image.url  }}" alt="Profile image example" />
            <!-- find name -->
            {% if request.user.is_authenticated %}
            <div class="fb-profile-text">
                <h1>{{profile.user.username}}</h1>
                <h1>{{ profile.user.email }}</h1>
                <h2>{{profile.user.role}}</h2>
                <h3>{{profile.user.trade_license_no}}</h3>

                <hr>
                <h1 red> can be used this way too</h1>
                <!-- evabe o dite paros -->
                <h1>{{request.user.username}}</h1>
                <h1>{{ request.user.email }}</h1>
                <h2>{{request.user.role}}</h2>
                <h3>{{request.user.trade_license_no}}</h3>
                <h2>{{request.user.userprofile.division}}</h2>
            </div>


            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
<!-- /container -->