{% load humanize %}

{% if request.user.role == 'importer' or request.user.role == 'wholeseller' or request.user.role == 'retailer' %}
<!--  -->

<div class="col-12">
    <div class="card table-card">
        <div class="card-header">
            <h4><b>{{ request.user.username }}</b> Sale  History</h4>
            <span class="d-block m-t-5">Here, all your products/items.</span></h5>
            <div class="card-header-right">
            <div class="btn-group card-option">
                <button
                type="button"
                class="btn dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >
                <i class="feather icon-more-horizontal"></i>
                </button>
                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card">
                    <a href="#!"
                    ><span><i class="feather icon-maximize"></i> maximize</span
                    ><span style="display: none"
                        ><i class="feather icon-minimize"></i> Restore</span
                    ></a
                    >
                </li>
                <li class="dropdown-item minimize-card">
                    <a href="#!"
                    ><span><i class="feather icon-minus"></i> collapse</span
                    ><span style="display: none"
                        ><i class="feather icon-plus"></i> expand</span
                    ></a
                    >
                </li>
                <li class="dropdown-item reload-card">
                    <a href="#!"><i class="feather icon-refresh-cw"></i> reload</a>
                </li>
                <li class="dropdown-item close-card">
                    <a href="#!"><i class="feather icon-trash"></i> remove</a>
                </li>
                </ul>
            </div>
            </div>
            <ul
            class="nav nav-pills nav-fill mt-3 border-bottom pb-3"
            id="pills-tab"
            role="tablist"
            >
            <li class="nav-item">
                <a
                class="nav-link active"
                id="pills-this-month-tab"
                data-toggle="pill"
                href="#pills-this-month"
                role="tab"
                aria-controls="pills-this-month"
                aria-selected="true"
                ><i class="fa fa-calendar m-r-5"></i> This Month</a
                >
            </li>
            <li class="nav-item">
                <a
                class="nav-link"
                id="pills-this-year-tab"
                data-toggle="pill"
                href="#pills-this-year"
                role="tab"
                aria-controls="pills-this-year"
                aria-selected="false"
                ><i class="fa fa-calendar-o m-r-5"></i> This Year</a
                >
            </li>
            
            </ul>
        </div>
        <div class="card-body p-0">
            <div class="tab-content" id="pills-tabContent">
            <div
                class="tab-pane fade active show"
                id="pills-this-month"
                role="tabpanel"
                aria-labelledby="pills-this-month-tab"
            >
                <div class="table-responsive">
                <div
                    class="customer-scroll ps ps--active-x ps--active-y"
                    style="height: 420px; position: relative"
                >
                    <table class="table table-hover m-b-0 text-center">
                    <thead>
                        <tr>
                    <th>Import Date</th>
                    <th>Product Name</th>
                    <th>Importer</th>
                    <th>Imported From</th>
                    <th>Clearance No</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Price(TK)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for object in chalans %}
                    <tr>
                    <td>{{object.import_date}}</td>
                    <td>{{object.product.name}}</td>
                    <td>{{object.owner.username}}</td>
                    <td>{{object.imported_from}}</td>
                    <td>{{object.customs_clearance_no}}</td>
                    <td>{{object.quantity}}</td>
                    <td>{{object.unit}}</td>
                    <td>৳{{object.price|intcomma}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    <div
                    class="ps__rail-x"
                    style="width: 795px; left: 0px; bottom: 0px"
                    >
                    <div
                        class="ps__thumb-x"
                        tabindex="0"
                        style="left: 0px; width: 719px"
                    ></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; height: 420px; right: 0px">
                    <div
                        class="ps__thumb-y"
                        tabindex="0"
                        style="top: 0px; height: 308px"
                    ></div>
                    </div>
                </div>
                </div>
            </div>
            <div
                class="tab-pane fade"
                id="pills-this-year"
                role="tabpanel"
                aria-labelledby="pills-this-year-tab"
            >
                <div class="table-responsive">
                <div
                    class="customer-scroll1 ps"
                    style="height: 420px; position: relative"
                >
                    <table class="table table-hover m-b-0 text-center">
                    <thead>
                    <tr>
                        <th>Import Date</th>
                        <th>Product Name</th>
                        <th>Imported From</th>
                        <th>Clearance No</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Price(TK)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in chalans %}
                    <tr>
                    <td>{{object.import_date}}</td>
                    <td>{{object.product.name}}</td>
                    <td>{{object.imported_from}}</td>
                    <td>{{object.customs_clearance_no}}</td>
                    <td>{{object.quantity}}</td>
                    <td>{{object.unit}}</td>
                    <td>৳{{object.price|intcomma}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                    </table>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px">
                    <div
                        class="ps__thumb-x"
                        tabindex="0"
                        style="left: 0px; width: 0px"
                    ></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; right: 0px">
                    <div
                        class="ps__thumb-y"
                        tabindex="0"
                        style="top: 0px; height: 0px"
                    ></div>
                    </div>
                </div>
                </div>
            </div>      
            </div>
        </div>
    </div>
</div>
{% endif %}
