@import url("../vendor/css/normalize/normalize.css");
@import url("../vendor/css/animate/animate.min.css");
@import url("../vendor/css/bootstrap/css/bootstrap.css");
@import url("../vendor/font-awesome/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");

/* ========================== 
    * Custom css start 
========================== */
.text-muted {
  font-size: 0.9rem;
}

.text-error {
  color: red;
  display: inline-block;
  margin-bottom: 1rem;
}
