<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light animated--grow-in">
  <div class="navbar-wrapper">
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Informations</label>
        </li>
        <li class="nav-item pcoded-hasmenu pcoded-trigger">
          <a
            href="#"
            class="nav-link {% if 'index' in segment %} active {% endif %}"
          >
            <span class="pcoded-micon"> <i class="feather icon-user"></i></span
            ><span class="pcoded-mtext"> User Info</span></a
          >
          <div class="pcoded-submenu" style="display: block"></div>
        </li>

        <li class="nav-item pcoded-hasmenu">
          <a href="#!" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-layout"></i></span
            ><span class="pcoded-mtext">Lorem</span></a
          >
          <ul class="pcoded-submenu">
            <li>
              <a href="#">Lorem</a>
            </li>
            <li>
              <a href="#">Lorem</a>
            </li>
          </ul>
        </li>

        <li class="nav-item pcoded-menu-caption">
          <label>Sales &amp; Orders</label>
        </li>
        <li
          class="nav-item {% if 'form_elements' in segment %} active {% endif %}"
        >
          <a href="#" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-file-text"></i></span
            ><span class="pcoded-mtext">Sales</span></a
          >
        </li>
      </ul>

      <div class="card text-center">
        <div class="card-block">
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-hidden="true"
          >
            &times;
          </button>
          <i class="feather icon-sunset f-40"></i>
          <br />
          <p>Need more?</p>
          <a href="#" class="btn btn-primary btn-sm text-white m-0">Contact</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->
