<!-- activity feed starts -->
<div class="card">
  <div class="card-header">
    <h5>Activity Feed</h5>
    <div class="card-header-right">
      <div class="btn-group card-option">
        <button
          type="button"
          class="btn dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="feather icon-more-horizontal"></i>
        </button>
        <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
          <li class="dropdown-item full-card">
            <a href="#!"
              ><span><i class="feather icon-maximize"></i> maximize</span
              ><span style="display: none"
                ><i class="feather icon-minimize"></i> Restore</span
              ></a
            >
          </li>
          <li class="dropdown-item minimize-card">
            <a href="#!"
              ><span><i class="feather icon-minus"></i> collapse</span
              ><span style="display: none"
                ><i class="feather icon-plus"></i> expand</span
              ></a
            >
          </li>
          <li class="dropdown-item reload-card">
            <a href="#!"><i class="feather icon-refresh-cw"></i> reload</a>
          </li>
          <li class="dropdown-item close-card">
            <a href="#!"><i class="feather icon-trash"></i> remove</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ul class="feed-blog pl-0">
      <li class="active-feed">
        <div class="feed-user-img">
          <img
            src="https://picsum.photos/id/1/200/300"
            class="img-radius"
            alt="User-Profile-Image"
          />
        </div>
        <h6>
          <span class="badge badge-danger">Transaction</span> XYZ updated new
          transaction:
          <small class="text-muted">2 hours ago</small>
        </h6>
        <p class="m-b-15 m-t-15">
          hii everone, Lorem Ipsum is simply dummy text of the printing and
          typesetting industry.
        </p>
      </li>
      <li class="diactive-feed">
        <div class="feed-user-img">
          <img
            src="https://picsum.photos/id/1/200/300"
            class="img-radius"
            alt="User-Profile-Image"
          />
        </div>
        <h6>
          <span class="badge badge-success">Task</span> Karim marked the Pending
          Review: <span class="text-c-green"> Transaction Updated </span
          ><small class="text-muted"> 2 hours ago</small>
        </h6>
      </li>
      <li class="diactive-feed mb-0">
        <div class="feed-user-img">
          <img
            src="https://picsum.photos/id/1/200/300"
            class="img-radius"
            alt="User-Profile-Image"
          />
        </div>
        <h6>
          <span class="badge badge-primary">transaction</span> abc posted a
          task:
          <span class="text-c-green">Review my transaction</span>
          <small class="text-muted">6 hours ago</small>
        </h6>
        <p class="m-b-15 m-t-15">
          hii everone,Lorem Ipsum is simply dummy text of the printing and
          typesetting industry.
        </p>
      </li>
    </ul>
  </div>
</div>

<!-- activity feed ends -->
