<!--  -->
<div class="col-md-6 col-xl-3">
    <div class="card bg-c-blue order-card">
        <div class="card-body">
            <h6 class="text-white">Pending Buying Records </h6>
            <h2 class="text-right text-white">
                <i class="fa fa-money float-left"></i><span>{{pending_sale_record_of_buyer}}</span>
            </h2>
            <p class="m-b-0">
                Pending Selling Records<span class="float-right">{{pending_sale_record_of_seller}}</span>
            </p>
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-3">
    <div class="card bg-c-green order-card">
        <div class="card-body">
            <h6 class="text-white">Total Transaction(Number)</h6>
            <h2 class="text-right text-white">
                <i class="feather icon-tag float-left"></i><span>{{number_of_transactions}}</span>
            </h2>
            <p class="m-b-0">This Month<span class="float-right">213</span></p>
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-3">
    <div class="card bg-c-yellow order-card">
        <div class="card-body">
            <h6 class="text-white">Total Transaction(Money)</h6>
            <h2 class="text-right text-white">
                <i class="feather icon-repeat float-left"></i><span>৳{{total_sales}}</span>
            </h2>
            <p class="m-b-0">This Month<span class="float-right">৳5,032</span></p>
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-3">
    <div class="card bg-c-red order-card">
        <div class="card-body">
            <h6 class="text-white">Total</h6>
            <h2 class="text-right text-white">
                <i class="feather icon-award float-left"></i><span>৳9,562</span>
            </h2>
            <p class="m-b-0">This Month<span class="float-right">৳542</span></p>
        </div>
    </div>
</div>