<div class="col-12 clearfix">
    <div class="page-header mb-0 pb-0">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="mb-0">All Products</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% for pro in products %}
<div class="col-3">
    <div class="card">
        <img class="img-fluid img-thumbnail card-img-top product-card" src="{{pro.product.icon.url}}" alt="Product Photo" />
        <div class="card-body text-center">
            <h5 class="card-title">{{pro.product.name}}</h5>

            <a href="#" class="btn btn-primary">See Sales</a>
            <a href="#" class="btn btn-secondary">See Imports</a>
        </div>
    </div>
</div>

{% endfor %}