{% if request.user.role == 'importer' or request.user.role == 'wholeseller' or request.user.role == 'retailer' %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5>{{ request.user.username }} Chalan List</h5>
            <span class="d-block m-t-5">Here, all your products/items.</span>
            <div class="card-header-right">
                <div class="btn-group card-option">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="feather icon-more-horizontal"></i>
          </button>
                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item full-card">
                            <a href="#!"><span><i class="feather icon-maximize"></i> maximize</span
                ><span style="display: none"
                  ><i class="feather icon-minimize"></i> Restore</span
                ></a
              >
            </li>
            <li class="dropdown-item minimize-card">
              <a href="#!"
                ><span><i class="feather icon-minus"></i> collapse</span
                ><span style="display: none"
                  ><i class="feather icon-plus"></i> expand</span
                ></a
              >
            </li>
            <li class="dropdown-item reload-card">
              <a href="#!"><i class="feather icon-refresh-cw"></i> reload</a>
                        </li>
                        <li class="dropdown-item close-card">
                            <a href="#!"><i class="feather icon-trash"></i> remove</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% if sales %}
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Import Date</th>
                            <th>Product Name</th>
                            <th>Imported From</th>
                            <th>Clearance No</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Price(TK)</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for object in sales %}
                        <tr>
                            <td>{{object.import_date}}</td>
                            <td>{{object.product.name}}</td>
                            <td>{{object.imported_from}}</td>
                            <td>{{object.customs_clearance_no}}</td>
                            <td>{{object.quantity}}</td>
                            <td>{{object.unit}}</td>
                            <td>{{object.price}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table>
                    <tr>
                        <td>Total: {{ total }} {{unit}}</td>
                    </tr>
                    <tr>
                        <td>Sold: {{sold}} {{unit}}</td>
                    </tr>
                    <tr>
                        <td>Available: {{available}} {{unit}}</td>
                    </tr>
                    <tr>
                        <td>Average Price: {% if average == None %} No Transactions Yet {% else %} {{average}} / {{unit}} {% endif %}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% else %}
        <h3>{{message}}</h3>
        {% endif %}
    </div>
</div>
{% endif %}