{% extends "layouts/base.html" %} {% load static %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} {% endblock stylesheets %}
<!--  -->
{% block content %}
<!-- Breadcrumb STARTS -->
{% include 'includes/dashboard/breadcrumb.html' %}
<!-- Breadcrumb ENDS -->
<!-- Main Cards STARTS -->
<div class="row">{% include 'includes/dashboard/card.html' %}</div>
<!-- Main Cards ENDS -->
<!-- Products Table -->

<div id="products_list" class="row">
    {% include 'includes/dashboard/product_table_sales.html' %}
</div>

<!-- Products Table -->
<!-- Activity STARTS -->
<div class="row">
    <div class="col-12">{% include 'includes/dashboard/activity.html' %}</div>
</div>
<!-- Activity ENDS -->
{% endblock content %}