{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <!-- Favicon icon -->
    <link
      rel="icon"
      href="{% static 'assets/favicon.ico' %}"
      type="image/x-icon"
    />
    <title>Home | Market Monitoring System</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/landing_style.css' %}" />
  </head>
  <body>
    <header style="margin-top: 20px">
      <h1 style="font-family: 'LANGAR'; margin-bottom: 0; color: #01051b">
        <i class="fa fa-modx"> </i> M.M.S
      </h1>
      <nav>
        <ul>
          <li><a href="#features-container">Features</a></li>
          <li><a href="#users-container">Users</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'accounts:home' %}">Dash Board</a></li>
          <!-- <li><a href="{% url 'accounts:register' %}">Sign Up</a></li> -->
          {% else %}
          <li><a href="{% url 'accounts:login' %}">Sign In</a></li>
          <li><a href="{% url 'accounts:register' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <section id="hero-container" class="hero-container">
        <div class="illustration illustration-1"></div>

        <div class="section-intro">
          <h2>
            CENTRALIZED MARKET MONITORING AND DISTRIBUTION SYSTEM FOR BANGLADESH
          </h2>
          <p class="section-text intro-text">
            Price hike of essential commodities is a “buzz” word which has
            become the major challenge faced by the people of Bangladesh.
            Especially, the poorest segment of our country and the limited
            earners hit hard by the quick movement of price of essential
            commodities. We see that the main reasons of the problem is
            syndicate of dishonest traders/distributors. To solve the problem we
            are going to implement a project called “CENTRALIZED MARKET
            MONITORING AND DISTRIBUTION SYSTEM FOR BANGLADESH”. In this project
            we create a transparent distribution flow to ensure fair price in
            the local markets of each region of the country. We ensure of stop
            artificial price hikes of daily necessary items. The main aim of
            this project is to break the syndicate of dishonest traders and
            ensure rights of consumer.
          </p>
          <div class="button-group">
            <!-- <button class="btn get-started">Get Started</button> -->
          </div>
        </div>
      </section>

      <section id="features-container" class="features-container">
        <div class="content">
          <h1 class="title">Features of Our Project</h1>
          <p class="desc"><br /><br /></p>

          <div class="cards">
            <div class="card">
              <div class="card-icon">
                <img
                  src="http://127.0.0.1:8000/media/landing_images/icon-brand-recognition.svg"
                  alt=""
                  role="presentation"
                />
              </div>
              <div class="card-title">CENTRALIZED</div>
              <div class="card-body">
                The supply chain of a product can be monitored by a central
                authority.
              </div>
            </div>
            <div class="card">
              <div class="card-icon">
                <img
                  src="http://127.0.0.1:8000/media/landing_images/icon-detailed-records.svg"
                  alt=""
                  role="presentation"
                />
              </div>
              <div class="card-title">TRANSPARENT</div>
              <div class="card-body">
                All the transactions between traders are visible to the admins.
              </div>
            </div>
            <div class="card">
              <div class="card-icon">
                <img
                  src="http://127.0.0.1:8000/media/landing_images/icon-fully-customizable.svg"
                  alt=""
                  role="presentation"
                />
              </div>
              <div class="card-title">COMPARABLE</div>
              <div class="card-body">Two layers of market can be compared.</div>
            </div>
          </div>
        </div>
      </section>

      <section id="users-container" class="users-container">
        <div class="content">
          <h1 class="title">Users</h1>
          <p class="desc">In our System We have 4 different types of users</p>
        </div>
        <div class="feature-card__container">
          <div class="feature-card feature-supervisor">
            <h2 class="feature-card__title">Importer</h2>
            <div class="feature-card__text">
              <ul>
                <li>Can Add Record Of His Imports</li>
                <li>Can Add Record Of His Sales</li>
                <li>Can See the availabily of his individual product</li>
                <li>
                  Can see the average price of individual product in the market
                </li>
              </ul>
            </div>
            <img
              class="feature-card__img"
              src="http://127.0.0.1:8000/media/landing_images/importer.svg"
              alt="icon-importer"
            />
          </div>
          <div class="feature-card__container--middle">
            <div class="feature-card feature-team">
              <h2 class="feature-card__title">Admin</h2>
              <div class="feature-card__text">
                <ul>
                  <li>Admin has the control over the whole environment</li>
                  <li>Admin can see all the transactions among traders</li>
                  <li>
                    Admin can see the differecne between the two layers of
                    market
                  </li>
                  <li>Admin can see the status of The Whole Market</li>
                </ul>
              </div>
              <img
                class="feature-card__img"
                src="http://127.0.0.1:8000/media/landing_images/admin.svg"
                alt="icon-admin"
              />
            </div>
            <div class="feature-card feature-karma">
              <h2 class="feature-card__title">Retailer</h2>
              <div class="feature-card__text">
                <ul>
                  <li>Can Add Record Of His Sales</li>
                  <li>Can See the availabily of his individual product</li>
                  <li>
                    Can see the average price of individual product in the
                    market
                  </li>
                </ul>
              </div>
              <img
                class="feature-card__img"
                src="http://127.0.0.1:8000/media/landing_images/retailer.svg"
                alt="icon-retailer"
              />
            </div>
          </div>
          <div class="feature-card feature-calculator">
            <h2 class="feature-card__title">Wholesaler</h2>
            <div class="feature-card__text">
              <ul>
                <li>Can Add Record Of His Sales</li>
                <li>Can Send a sell request</li>
                <li>Can See the availabily of his individual product</li>
                <li>
                  Can see the average price of individual product in the market
                </li>
              </ul>
            </div>
            <img
              class="feature-card__img"
              src="http://127.0.0.1:8000/media/landing_images/wholesale.svg"
              alt="icon-wholesale"
            />
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer-body-container">
        <div class="footer-section-contact">
          <h2 style="font-family: 'LANGAR'; margin-bottom: 0; color: #f1f3ff">
            <i class="fa fa-modx"> </i> M.M.S
          </h2>
          <p>
            <img
              src="http://127.0.0.1:8000/media/landing_images/icon-phone.svg"
              alt=""
              class="contact-icon"
            />
            Phone: +880-182-987-4567
          </p>
          <p>
            <img
              src="http://127.0.0.1:8000/media/landing_images/icon-email.svg"
              alt=""
              class="contact-icon"
            />
            admin@mms.com
          </p>
        </div>
        <div class="footer-section-about">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="footer-section-terms">
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>
        <div class="footer-section-social">
          <ul class="social-link-list">
            <li>
              <a href="#">
                <span class="sr-only">Redirects to our facebook page</span>
                <i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="#">
                <span class="sr-only">Redirects to our twitter account</span>
                <i class="fa fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="#">
                <span class="sr-only">Redirects to our instagram account</span>
                <i class="fa fa-instagram"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <p>Engineered by <b>Ayub & Ratul</b></p>
      </div>
    </footer>
  </body>
</html>
